@charset "UTF-8";

div#interface{
	background-color:#fff;
	width: 900px;
	margin: 0px auto 0px auto;
	padding: 10px;
    box-shadow: 0px 0px 25px rgba(0,0,0,.8);
    background: url(imagens/prog1.jpg);
}
div#interface h1{
    text-align: center;
    background-color: #606060;
    color: #ccc;
}
div#interface h2{
	text-align: start;
	background-color: #606060;
	color: #ccc;
}
#cabecalho{
	border-bottom: 1px #606060 solid;
	height: 550px;
}


#menu{
	display: block;
}
#menu ul{
	list-style: none; /* tira as marcações da lista */
	text-transform: uppercase; /* texto em caixa alta */
	float: right; /* flutua a direita */
	padding: 0px; /* espaçamento interno */
	margin: 0px; /* espaçamento externo */
	top: -25px; /* aproximação com o topo */
}
#menu li{
	display: inline-block; /* um ao lado do outro */
	background-color: #ccc; /* cor do fundo */
	padding: 10px; /* espaçamento interno */
	margin: 2px; /* espaçamento externo */
}
#menu li:hover{
	background-color: #606060; /* cor do fundo */
	transition: background 1s;/* a mudança de background vai demorar 1s */
	color: #fff;
}
#menu a{
	color: #000; /* cor do texto do link */
	text-decoration: none; /* tira o sublinhado do link */
}





section#conteudo{
    width: 1000px;
    margin: auto;
}
iframe#frame-spec{
    width: 900px;
    height: 400px;
    border: none;
    overflow: hidden;
}
iframe#frame-spec::-webkit-scrollbar {
    display: none;
}